[sb_local]
host = 192.168.150.10
port = 3306
user = root
password = senslope
schema = senslopedb


[sb_remote]
host = 192.168.150.10
port = 3306
user = root
password = senslope
schema = senslopedb


[gsm_pi]
host = 192.168.150.10
port = 3306
user = root
password = senslope
schema = comms_db


[ubuntu75_pysys_local]
host = 192.168.150.10
port = 3306
user = root
password = senslope
schema = senslopedb

[staff1]
host = 127.0.0.1
port = 3306
user = dyna_staff
password = accelerometer
schema = senslopedb

[smsdb_remote]
host = 192.168.150.10
port = 3306
user = root
password = senslope
schema = senslopedb
